<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1051767055791-q0guj4v6rglvj32i4al8scbplkjob91s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051767055791-q0guj4v6rglvj32i4al8scbplkjob91s</string>
	<key>API_KEY</key>
	<string>AIzaSyBSk8Gj5ZbQ7tI0-sydpFwm-Z8Q9uaXTFY</string>
	<key>GCM_SENDER_ID</key>
	<string>1051767055791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcosabadi.Salidas</string>
	<key>PROJECT_ID</key>
	<string>salidas-f25e0</string>
	<key>STORAGE_BUCKET</key>
	<string>salidas-f25e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051767055791:ios:24e4e78d55afa7f9</string>
	<key>DATABASE_URL</key>
	<string>https://salidas-f25e0.firebaseio.com</string>
</dict>
</plist>